<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Välkommen till Kebnekaise fjällstation</h1>
    <div class="orgFjall">
      <div class="row">
        <div class="col1">
          <h2>Kebnekaise fjällstation</h2>
          <!--https://kebnekaise.se/kebnekaise-fjallstation/-->
          <p>
            Nils Flygare var år 1900 ute i Kebnekaisefjällen och rekognoserade
            platsen för den första turistanläggningen i området.
            Kebnekaisestugan fick sin plats, som idag är en del av
            fjällstationens huvudbyggnad.
          </p>
          <p>
            Det var samma Flygare som var först med att ta leden längs östra
            väggen mot Sydtoppen, året 1901. Detta var fjärde gången man besteg
            Sydtoppen. Leden kallas numera östra leden, och är den vanliga leden
            för guidade turer från fjällstationen.
          </p>
          <p>
            Arbetet med att uppföra Kebnekaisestugan började 1907. Stugan
            byggdes i sten, med en meter tjocka väggar. Tidiga om och
            tillbyggnader av stugan har bland annat skett 1924 och 1952, samt
            ett större annex tillkom 1966. Därefter har nya byggnader tillkommit
            allt efter hand.
          </p>
          <p>
            Elektrisk ström via det fasta elnätet kom till fjällstationen 1966.
          </p>
          <h3>Att ta sig till fjällstationen</h3>
          <p>
            Första steget i resan till fjällstationen är vanligtvis att resa
            till Kiruna, och därifrån ta sig till Nikkaluokta. I Nikkaluokta
            slutar allmän väg och vandringslederna börjar. Vidare ut på fjället,
            cirka 19 kilometer ligger fjällstationen, i dalen Ladtjovagge, vid
            foten av Kebnekaise.
          </p>
          <h3>Service på fjällstationen</h3>
          <p>
            Fjällstationen erbjuder full service och 220 bäddar. Rum finns att
            hyra, från tvåbäddsrum till flerbäddsrum. Toalett och duschar finns
            i alla byggnader, utom huvudbyggnaden, dock inte inne på rummen.
            Bastu och relaxavdelning finns att tillgå för alla gäster.
          </p>
          <p>
            En restaurang finns i huvudbyggnaden, som serverar frukost, lunch
            och middag. Med fullständiga rättigheter. Cafébar och eget bageri.
          </p>
          <p>
            Butiken säljer proviant, mat, godis, läsk, snacks, kläder och
            souvenirer.
          </p>
          <p>
            Servicebyggnaden erbjuder kök, toaletter, duschar, bastu och
            torkrum.
          </p>
          <p>
            Uthyrning av utrustning för fjällturer finns i servicebyggnaden.
            Exempelvis klätterutrustning och skidutrustning. Hjälp och service
            fås av någon av alla färdledare.
          </p>
          <p>Wifi finns över anläggningen.</p>
        </div>

        <div class="col2">
          <img
            src="/images/fakeStation.jpg"
            alt="bild på keb fjällstation"
            class="bildStation"
          />
        </div>
      </div>
    </div>
    <div class="lillaFjall">
      <h2>Kebnekaise fjällstation</h2>
      <!--https://kebnekaise.se/kebnekaise-fjallstation/-->
      <p>
        Nils Flygare var år 1900 ute i Kebnekaisefjällen och rekognoserade
        platsen för den första turistanläggningen i området. Kebnekaisestugan
        fick sin plats, som idag är en del av fjällstationens huvudbyggnad.
      </p>
      <p>
        Det var samma Flygare som var först med att ta leden längs östra väggen
        mot Sydtoppen, året 1901. Detta var fjärde gången man besteg Sydtoppen.
        Leden kallas numera östra leden, och är den vanliga leden för guidade
        turer från fjällstationen.
      </p>
      <p>
        Arbetet med att uppföra Kebnekaisestugan började 1907. Stugan byggdes i
        sten, med en meter tjocka väggar. Tidiga om och tillbyggnader av stugan
        har bland annat skett 1924 och 1952, samt ett större annex tillkom 1966.
        Därefter har nya byggnader tillkommit allt efter hand.
      </p>
      <p>Elektrisk ström via det fasta elnätet kom till fjällstationen 1966.</p>
      <!--Foto: Axel Adolfsson, https://www.freeride.se/kebnekaise-fjallstation-lodgen-langt-bortom-vags-ande/-->
      <img
        src="/images/fakeStation.jpg"
        alt="bild på keb fjällstation"
        class="bildStation"
      />
      <h3>Att ta sig till fjällstationen</h3>
      <p>
        Första steget i resan till fjällstationen är vanligtvis att resa till
        Kiruna, och därifrån ta sig till Nikkaluokta. I Nikkaluokta slutar
        allmän väg och vandringslederna börjar. Vidare ut på fjället, cirka 19
        kilometer ligger fjällstationen, i dalen Ladtjovagge, vid foten av
        Kebnekaise.
      </p>
      <h3>Service på fjällstationen</h3>
      <p>
        Fjällstationen erbjuder full service och 220 bäddar. Rum finns att hyra,
        från tvåbäddsrum till flerbäddsrum. Toalett och duschar finns i alla
        byggnader, utom huvudbyggnaden, dock inte inne på rummen. Bastu och
        relaxavdelning finns att tillgå för alla gäster.
      </p>
      <p>
        En restaurang finns i huvudbyggnaden, som serverar frukost, lunch och
        middag. Med fullständiga rättigheter. Cafébar och eget bageri.
      </p>
      <p>
        Butiken säljer proviant, mat, godis, läsk, snacks, kläder och
        souvenirer.
      </p>
      <p>
        Servicebyggnaden erbjuder kök, toaletter, duschar, bastu och torkrum.
      </p>
      <p>
        Uthyrning av utrustning för fjällturer finns i servicebyggnaden.
        Exempelvis klätterutrustning och skidutrustning. Hjälp och service fås
        av någon av alla färdledare.
      </p>
      <p>Wifi finns över anläggningen.</p>
    </div>
    <div class="orgElsas">
      <div class="row">
        <div class="col3">
          <img
            src="/images/restoKeb.webp"
            alt="bild på två personer som plockar mat vid en buffé"
            class="bildResto"
          />
          <img
            src="/images/kebnekaise-mat.avif"
            alt="bild på två personer som plockar mat vid en buffé"
            class="bildMat"
          />
          <img
            src="/images/kebnekaise-matsal.avif"
            alt="bild på keb fjällstation"
            class="bildMatsal"
          />
        </div>
        <div class="col4">
          <!--Text tagen från: https://www.svenskaturistforeningen.se/boende/stf-kebnekaise-fjallstation/mat-dryck/-->
          <h2>Elsas Kök</h2>
          <p>
            I nästan 30 år arbetade Elsa Göransson som föreståndarinna på STF
            Kebnekaise fjällstation. Hennes stora intresse för fjäll och
            människor skapade en trivsam oas i den Lappländska fjällvärlden. I
            takt med att den svenska alpinismen växte ökade också besöksantalet.
            Idag, mer än 50 år senare har vi låtit oss inspireras av såväl
            gemytet och gemenskapen kring den gemensamma måltiden, som
            kokkonsten så som den var förr.
          </p>

          <h3>Frukost & lunchpaket</h3>
          <p>
            En dignande frukostbuffé väntar dig varje morgon. Vi serverar bland
            annat nybakat bröd, ägg, pålägg, juice, gröt och kaffe. Våra
            lunchpaket är perfekta för turen. I det ingår smörgåsar som du brer
            själv, frukt, russin, en hemgjord energikaka och varm dryck.
          </p>

          <h3>Lunch</h3>
          <p>
            Lunch serveras dagligen mellan klockan 12-14. Vi erbjuder
            husmanskost med vegetariskt alternativ, ett rikt varierat
            salladsbord med rykande färskt bröd från vårt bageri och självklart
            ingår kaffe!
          </p>

          <h3>Elsas matlåda</h3>
          <p>
            Elsas matlåda är en rejäl lagad måltid som du har möjlighet att
            avnjuta när du vill! Den har vi till försäljning i butiken. Micros
            för att värma din låda finner du i självhushållsköket i vår
            servicebyggnad. Det går även bra att värma på sitt eget kök vid
            tältet.
          </p>
          <h3>Middag</h3>
          <p>
            På Elsas tid fanns inga helikoptrar och begränsade möjligheter att
            förvara mat kallt. Eftersom hållbarhet är en ständigt aktuell fråga
            återupptar vi nu gamla konserveringsmetoder och med det nygamla
            recept. Hos oss går mättnad och matupplevelse hand i hand. På
            tallriken finner du kött eller fisk direkt från det närliggande
            området. Vegetariska middagsalternativ är en självklarhet.
          </p>

          <h3>Tvårätters middag</h3>
          <p>
            Vällagad varmrätt och dessert inklusive smör, bröd, sallad & kaffe.
            Önskas vegetariskt alternativ eller specialkost kan vi ordna det,
            men viktigt att det meddelas före ankomst. <br />Kl. 17:30 ringer
            klockan för den första sittningen som slutar kl 19.00. Denna
            sittning passar för dem som planerar att göra en toppbestigning
            följande dag och passar in i guidernas informationsmöte inför
            toppturen.<br />
            Nästa sittning är klockan 19.15. Tänk på att inte välja denna
            sittning om du ska på guidad tur till toppen dagen efter då det är
            informationsmöte samtidigt.<br />
            Sista sittningen är klockan 21.00. Den passar bäst för de som vill
            bestiga toppen och vill vara säkra på att vara tillbaka i tid –
            kanske dessutom hinna med att ta en varm dusch och bastu efter turen
            innan firande med middag. <br />Vi rekommenderar att du bokar
            måltiderna i förväg för att säkra din plats i Elsas kök då vi har
            ett begränsat antal sittplatser. Boka din middag här.
          </p>

          <h3>Serveringstider</h3>
          <p>
            Frukost sommar: 06-09 <br />Frukost vinter: 07-09 <br />Lunch: 12–14
            <br />Middag sommar: under sommarsäsongen har vi tre sittningar för
            middagen: kl 17.30, 19.15 och 21.00 <br />Middag vinter: under
            vintersäsongen serveras middagen klockan 17.30 & 19.00
          </p>
        </div>
      </div>
    </div>
    <div class="lillaElsas">
      <h2>Elsas Kök</h2>
      <p>
        I nästan 30 år arbetade Elsa Göransson som föreståndarinna på STF
        Kebnekaise fjällstation. Hennes stora intresse för fjäll och människor
        skapade en trivsam oas i den Lappländska fjällvärlden. I takt med att
        den svenska alpinismen växte ökade också besöksantalet. Idag, mer än 50
        år senare har vi låtit oss inspireras av såväl gemytet och gemenskapen
        kring den gemensamma måltiden, som kokkonsten så som den var förr.
      </p>
      <img
        src="/images/restoKeb.webp"
        alt="bild på två personer som plockar mat vid en buffé"
        class="bildResto"
      />
      <h3>Frukost & lunchpaket</h3>
      <p>
        En dignande frukostbuffé väntar dig varje morgon. Vi serverar bland
        annat nybakat bröd, ägg, pålägg, juice, gröt och kaffe. Våra lunchpaket
        är perfekta för turen. I det ingår smörgåsar som du brer själv, frukt,
        russin, en hemgjord energikaka och varm dryck.
      </p>

      <h3>Lunch</h3>
      <p>
        Lunch serveras dagligen mellan klockan 12-14. Vi erbjuder husmanskost
        med vegetariskt alternativ, ett rikt varierat salladsbord med rykande
        färskt bröd från vårt bageri och självklart ingår kaffe!
      </p>

      <h3>Elsas matlåda</h3>
      <p>
        Elsas matlåda är en rejäl lagad måltid som du har möjlighet att avnjuta
        när du vill! Den har vi till försäljning i butiken. Micros för att värma
        din låda finner du i självhushållsköket i vår servicebyggnad. Det går
        även bra att värma på sitt eget kök vid tältet.
      </p>
      <h3>Middag</h3>
      <p>
        På Elsas tid fanns inga helikoptrar och begränsade möjligheter att
        förvara mat kallt. Eftersom hållbarhet är en ständigt aktuell fråga
        återupptar vi nu gamla konserveringsmetoder och med det nygamla recept.
        Hos oss går mättnad och matupplevelse hand i hand. På tallriken finner
        du kött eller fisk direkt från det närliggande området. Vegetariska
        middagsalternativ är en självklarhet.
      </p>
      <img
        src="/images/kebnekaise-mat.avif"
        alt="bild på två personer som plockar mat vid en buffé"
        class="bildMat"
      />
      <h3>Tvårätters middag</h3>
      <p>
        Vällagad varmrätt och dessert inklusive smör, bröd, sallad & kaffe.
        Önskas vegetariskt alternativ eller specialkost kan vi ordna det, men
        viktigt att det meddelas före ankomst. <br />Kl. 17:30 ringer klockan
        för den första sittningen som slutar kl 19.00. Denna sittning passar för
        dem som planerar att göra en toppbestigning följande dag och passar in i
        guidernas informationsmöte inför toppturen.<br />
        Nästa sittning är klockan 19.15. Tänk på att inte välja denna sittning
        om du ska på guidad tur till toppen dagen efter då det är
        informationsmöte samtidigt.<br />
        Sista sittningen är klockan 21.00. Den passar bäst för de som vill
        bestiga toppen och vill vara säkra på att vara tillbaka i tid – kanske
        dessutom hinna med att ta en varm dusch och bastu efter turen innan
        firande med middag. <br />Vi rekommenderar att du bokar måltiderna i
        förväg för att säkra din plats i Elsas kök då vi har ett begränsat antal
        sittplatser. Boka din middag här.
      </p>
      <img
        src="/images/kebnekaise-matsal.avif"
        alt="bild på keb fjällstation"
        class="bildMatsal"
      />

      <h3>Serveringstider</h3>
      <p>
        Frukost sommar: 06-09 <br />Frukost vinter: 07-09 <br />Lunch: 12–14
        <br />Middag sommar: under sommarsäsongen har vi tre sittningar för
        middagen: kl 17.30, 19.15 och 21.00 <br />Middag vinter: under
        vintersäsongen serveras middagen klockan 17.30 & 19.00
      </p>
    </div>
    <!--Skapar en container för att boka resor-->
    <section class="section image-container">
      <!--Bakgrundsbild för att det ska se snyggt ut-->
      <img
        src="/images/boka2.jpg"
        alt="bild på keb sovsal"
        class="bildBoende"
      />
      <!--Text area där användaren har möjlighet att skriva in dess önskemål om resan-->
      <a routerLink="/booking">
        <div class="text-area">
          <h2 class="title">Boka din vistelse</h2>
        </div></a
      >
    </section>
  </body>
</html>
