<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <ul>
        <!--Text tagen från: https://kebnekaise.se/-->
        <li>
          <h3>Om oss</h3>
          <p>
            Sidan är ett initiativ för att sprida kunskap och inspiration om
            våra svenska fjäll. Självklart med ett fokus på Kebnekaisefjällen.
            Målet är att fler ska kunna uppleva fjällvärlden på ett säkert och
            på ett hållbart vis.
          </p>
        </li>
        <li>
          <h3>Länkar</h3>
          <a href="">Bli medlem</a><br /><a href="">Bokning</a><br /><a href=""
            >Kontakta oss</a
          >
        </li>
        <li>
          <h3>Sociala medier</h3>
          <i class="fa-brands fa-instagram"></i
          ><i class="fa-brands fa-facebook"></i
          ><i class="fa-brands fa-youtube"></i>
        </li>
      </ul>
    </footer>
  </body>
</html>
