* {
  font-family: "DM Sans", serif;
  font-weight: 300;
}
footer {
  background-color: rgb(105, 137, 173);
  display: flex;
  justify-content: center;
  width: 100%;
}
ul {
  justify-content: space-around;
  list-style: none;
  display: flex;
  color: white;
  width: 80%;
}
li {
  align-items: center;
  margin: 10px;
  width: 20%;
}
.heroPic {
  margin-top: 0;
  width: 95vw;
  box-shadow: 2px 5px 10px #c9c4c4;
}
a {
  color: white;
}
a:hover {
  opacity: 30%;
}
i {
  font-size: 2.5rem;
  margin: 3px;
}
