<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a routerLink="/">Start</a></li>
        <li><a routerLink="/boende">Kebnekaise Fjällstation</a></li>
        <li><a routerLink="/infresa">Inför resa</a></li>
      </ul>
    </nav>
    <img src="/images/heroKebSmal.jpg" alt="bild på keb" class="heroPic" />
  </body>
</html>
