main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
}
h1 {
  text-align: center;
  font-weight: 300;
}
h2 {
  font-weight: 300;
}

.row {
  display: flex;
  background-color: rgb(242, 252, 255);
  margin: 40px;
}
.col1 {
  width: 60vw;
  margin: 10px;
}

.col2 {
  width: 40vw;
  margin: 10px;
}
img {
  display: flex;
  position: relative;
}
.col3 {
  margin: 10px;
}
.col4 {
  margin: 10px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a:hover {
  opacity: 70%;
  cursor: pointer;
}

.bildStation {
  width: 40vw;
}
.bildTur {
  width: 40vw;
}
//Fixa media max width stoppa bilderna under texten
/*Container för textformulär för att boka en resa. Positionerar den i mitten och gör så att färgen blir vit på text*/
.image-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}
/*Gör att bilden sträcker sig över hela containern*/
.image-container img {
  width: 95%;
  height: auto;
  object-fit: cover; /* Gör att bilden täcker hela ytan utan att förlora proportioner */
  margin-left: 41px;
}

/*Jag vill att textformuläret ska vara ovanpå bilden, därmed har jag position absolute och 
    ställer in exakt hur den ska positioneras. Gör även textrutan något transparent för att bilden bakom ska få synas.*/
.text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  color: black;
}

button {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: solid;
  border-width: 0.1rem;
  border-color: rgb(111, 164, 181);
  box-shadow: 2px 5px 10px #c9c4c4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 250px;
  margin-top: 15px;
  cursor: pointer;
}
