<main>
  <h1>Välkommen till Kebnekaise</h1>
  <a routerLink="/infresa">
    <div class="row">
      <div class="col1">
        <h2>Inför resan</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
          impedit, blanditiis at nisi alias inventore consequuntur error maiores
          voluptate recusandae consequatur saepe placeat id? Alias veniam magni
          eius libero? Dignissimos.
        </p>
      </div>
      <div class="col2">
        <img
          src="/images/tur.jpg"
          alt="person som är ute och turar på fjället med skidor"
          class="bildTur"
        />
      </div></div
  ></a>
  <a routerLink="/boende">
    <div class="row">
      <div class="col3">
        <img
          src="/images/station.jpg"
          alt="bild på keb fjällstation"
          class="bildStation"
        />
      </div>
      <div class="col4">
        <h2>Kebnekaise fjällstation</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
          rem dolorum impedit architecto consequuntur temporibus doloremque
          quibusdam reiciendis, perferendis laboriosam, sapiente voluptatum quae
          necessitatibus cumque. Obcaecati ex beatae ducimus voluptates odit
          nobis excepturi libero est quibusdam iste, velit tempore dignissimos
          porro eligendi distinctio inventore perspiciatis asperiores ad
          aliquid. Ex autem reiciendis quae omnis ab, blanditiis sapiente iure
          iste vitae temporibus aliquid, maiores et. Blanditiis dolore doloribus
          veniam vero earum odit consequatur eligendi non, tenetur voluptates
          cumque laboriosam quisquam obcaecati autem, beatae vitae modi delectus
          veritatis culpa amet repellendus error quae adipisci. Impedit aliquam
          quae necessitatibus quidem fuga cumque dolorum vitae!
        </p>
      </div>
    </div></a
  >

  <section class="section image-container">
    <!--Bakgrundsbild för att det ska se snyggt ut-->

    <img src="/images/kebne-ladtjo.jpg" alt="bild på keb" class="bildKeb" />

    <!--Text tagen från: https://kebnekaise.se/-->
    <div class="text-area">
      <h1 class="title">Om Kebnekaise</h1>
      <p>2096,8 meter</p>
      <h3>Vilken topp är högst?</h3>
      <p>
        Sveriges högsta berg, Kebnekaise, består av två toppar som nästan är
        lika höga. En nordtopp som är 2096,8 m.ö.h. och en sydtopp som varierar
        i höjd. Sydtoppen består av en topp-glaciär (Sveriges enda) och varierar
        därför i höjd, beroende på hur mycket den smälter under sommaren och hur
        mycket det tillkommer under vintern.
      </p>
      <p>
        Efter mätningarna i början av september 2022 var sydtoppen 2094,6 meter.
        Vilket gör att nordtoppen fortsatt är den högsta punkten.
      </p>
      <p>
        Mätningen som gjordes den 3 september 2019 visade då den lägsta
        sydtoppen sedan mätningarna började. Toppen har minskat med 24 meter de
        senaste 50 åren. Tidigare har sydtoppen varit den högre toppen. Vilket
        gjort att det sedan året 2019 skett ett ”tronskifte” mellan topparna.
      </p>
      <p>
        Sydtoppen var endast 20 cm högre vid mätningarna i slutet av juli 2018,
        jämfört med 1,2 m lägre ett år senare. Smälttakten då beräknades till 14
        cm per dygn. Det kommer sannolikt vara en trend framöver med en
        minskande topp på sydtoppen.
      </p>
      <p>
        Troligtvis kommer sydtoppen åter vara den högre toppen under slutet av
        varje vintern. För att sedan återigen smälta ner till under nordtoppens
        höjd.
      </p>
      <p>
        Mätningarna genomförs varje år av Stockholms universitet och Tarfala
        forskningsstation.
      </p>
    </div>
  </section>
</main>
<app-footer></app-footer>
