<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>Välkommen till Kebnekaise</h1>
      <div class="row">
        <div class="col1">
          <h2>Inför resan</h2>
          <p>
            Även om Kebnekaise inte är det allra mest otillgängliga och krävande
            fjället att bestiga, så kräver det vissa förberedelser. Fjällvärlden
            är mer otillgänglig än vad de flesta av oss är vana vid, och
            väderomslag kan påverka oss snabbt. Det är därför viktigt att ha bra
            utrustning, så att man klarar av olika typer av väderförhållanden.
            Regnkläder, bra vandringskängor, varmare kläder som jacka, mössor
            och vantar är bra att investera i.
          </p>
          <p>
            Längre upp på fjället, exempelvis upp mot Kebnekaise, blir det också
            mer exponerat, kallare och i många fall blåsigare. Karta och kompass
            för att kunna hitta vägen kan vara bra att ha. Beroende på vilken
            led man vill gå så är det dock inte alltid ett krav. Vissa leder är
            mycket tydligt uppmärkta och väl trafikerade av andra vandrare.
            Mycket av utrustningen går att köpa begagnat eller låna av vänner
            och bekanta. Det viktigaste är inte att ha den dyraste och mest
            exklusiva utrustningen, utan att den utrustning man har är väl
            lämpad för ändamålet och av bra kvalitet. Att använda utrustning som
            man känner sig trygg med och vet hur fungerar är ofta viktigare än
            att köpa det dyraste.
          </p>
          <div class="knapp">
            <a routerLink="/infresa"
              ><button>
                Läs mer om hur du kan förbereda dig för resan här!
              </button></a
            >
          </div>
        </div>
        <div class="col2">
          <img
            src="/images/tur.jpg"
            alt="person som är ute och turar på fjället med skidor"
            class="bildTur"
          />
        </div>
      </div>

      <div class="row">
        <div class="col3">
          <img
            src="/images/station.jpg"
            alt="bild på keb fjällstation"
            class="bildStation"
          />
        </div>
        <div class="col4">
          <h2>Kebnekaise fjällstation</h2>
          <p>
            Resan till STF Kebnekaise Fjällstation börjar i Nikkaluokta, där
            vägen slutar och vildmarken tar vid. 19 km ut på kalfjället i Norra
            Lappland, vid foten av Sveriges högsta berg, hittar du oss. Här möts
            du av full service, restaurang och 200 sköna bäddar.
          </p>
          <p>
            Efter en dag med fjällvind, reflektion och kanske många höjdmeter
            kan du slå dig ner i värmen från brasan och drömma dig tillbaka. På
            kvällen väntar en läcker tvårättersmiddag innan du somnar gott. Se
            till att förboka din middag innan ankomst
            <a routerLink="/boende">här</a>
          </p>
          <div class="knapp">
            <a routerLink="/boende"
              ><button>Läs mer om Kebnekaise fjällstation här!</button></a
            >
          </div>
        </div>
      </div>

      <section class="section image-container">
        <!--Bakgrundsbild för att det ska se snyggt ut-->

        <img src="/images/kebne-ladtjo.jpg" alt="bild på keb" class="bildKeb" />

        <!--Text tagen från: https://kebnekaise.se/-->
        <div class="text-area">
          <h1 class="title">Om Kebnekaise</h1>
          <p>2096,8 meter</p>
          <h3>Vilken topp är högst?</h3>
          <p>
            Sveriges högsta berg, Kebnekaise, består av två toppar som nästan är
            lika höga. En nordtopp som är 2096,8 m.ö.h. och en sydtopp som
            varierar i höjd. Sydtoppen består av en topp-glaciär (Sveriges enda)
            och varierar därför i höjd, beroende på hur mycket den smälter under
            sommaren och hur mycket det tillkommer under vintern.
          </p>
          <p>
            Efter mätningarna i början av september 2022 var sydtoppen 2094,6
            meter. Vilket gör att nordtoppen fortsatt är den högsta punkten.
          </p>
          <p>
            Mätningen som gjordes den 3 september 2019 visade då den lägsta
            sydtoppen sedan mätningarna började. Toppen har minskat med 24 meter
            de senaste 50 åren. Tidigare har sydtoppen varit den högre toppen.
            Vilket gjort att det sedan året 2019 skett ett ”tronskifte” mellan
            topparna.
          </p>
          <p>
            Sydtoppen var endast 20 cm högre vid mätningarna i slutet av juli
            2018, jämfört med 1,2 m lägre ett år senare. Smälttakten då
            beräknades till 14 cm per dygn. Det kommer sannolikt vara en trend
            framöver med en minskande topp på sydtoppen.
          </p>
          <p>
            Troligtvis kommer sydtoppen åter vara den högre toppen under slutet
            av varje vintern. För att sedan återigen smälta ner till under
            nordtoppens höjd.
          </p>
          <p>
            Mätningarna genomförs varje år av Stockholms universitet och Tarfala
            forskningsstation.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
