* {
  font-family: "DM Sans", serif;
  margin: 0;
}

main {
  margin: 10px 100px;
  justify-content: center;
  gap: 20px;
}

.container {
  background-color: rgb(252, 245, 237);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Tvingar alla kolumner på samma rad */
  justify-content: space-around; /* Fördelar utrymmet jämnt mellan kolumner */
  gap: 10px; /* Lägger till mellanrum mellan kolumner */
}

.column {
  flex: 1; /* Gör alla kolumner lika breda */
  max-width: 14%; /* Sätter en gräns för kolumnbredd, 100% / 7 ≈ 14% */
  padding: 10px;
  background-color: rgb(242, 252, 255);
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

p {
  margin: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-left: 10px;
}
.video {
  width: 60vw;
  height: 50vh;
  margin-bottom: 15px;
}
h3 {
  text-align: center;
  font-family: "DM Sans", serif;
}
.col {
  width: 70vw;
  background-color: rgb(242, 252, 255);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
h2 {
  text-align: center;
}

@media screen and (max-width: 992px) {
  main {
    margin: 20px; /* Tar bort sidmarginaler */
  }

  .container {
    margin: 5px; /* Säkerställer att .container fyller hela sidan */
  }

  .card {
    width: 100%;
    margin: 0; /* Ingen extra marginal */
  }

  .row {
    gap: 5px; /* Minska mellanrum mellan rader */
  }

  .column {
    max-width: 100%; /* Tillåt kolumner att breda ut sig */
    padding: 5px;
  }

  .video {
    width: 90vw; /* Anpassa video till mindre skärmar */
    height: auto; /* Bibehåll proportioner */
  }

  .col {
    width: 90vw;
    margin: 10px auto;
  }

  h1,
  h2,
  h3,
  p {
    margin: 5px; /* Minska vertikala marginaler */
  }
}
