<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <!-- Dynamisk klassbindning för nav -->
    <nav [class.active]="isMenuActive">
      <ul>
        <li><a routerLink="/" (click)="closeMenu()">Start</a></li>
        <li>
          <a routerLink="/boende" (click)="closeMenu()"
            >Kebnekaise Fjällstation</a
          >
        </li>
        <li><a routerLink="/infresa" (click)="closeMenu()">Inför resa</a></li>
        <li><a routerLink="/booking" (click)="closeMenu()">Boka</a></li>
      </ul>
    </nav>

    <!-- Hamburgermeny -->
    <div class="hamburger" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>

    <!--Referens: Elin Håkansson. https://kirunalapland.se/vandring/bestig-kebnekaise-sommar/ -->
    <img src="assets/images/fakeKeb6.jpg" alt="bild på keb" class="heroPic" />

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </body>
</html>
