<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="inputDiv">
      <input
        type="text"
        id="egenInput"
        class="egenInput"
        placeholder="Egen input..."
        #egenInput
      />
      <button (click)="laggTillLista(egenInput.value)" id="addBtn">
        Lägg till i lista
      </button>
    </div>
    <ul>
      <h3>Köp en karta</h3>
      <li>
        <input
          type="checkbox"
          id="checkbox1"
          [checked]="isChecked1"
          (change)="onCheckboxChange($event, 'checkbox1')"
        />
        Köp en karta på nätet, i en friluftsbutik eller i närmaste bokhandel.
        Den kostar mellan 100-200 kr och är väl investerade pengar.
      </li>
      <li>
        <input
          type="checkbox"
          id="checkbox2"
          [checked]="isChecked2"
          (change)="onCheckboxChange($event, 'checkbox2')"
        />
        Slå upp kartan och försök tolka hur terrängen och naturen ser ut. Kan du
        hitta både Kebnekaises topp, fjällstationen och Nikkaluokta? (beror
        såklart på vilken område kartan täcker)
      </li>
      <li>
        <input
          type="checkbox"
          id="checkbox3"
          [checked]="isChecked3"
          (change)="onCheckboxChange($event, 'checkbox3')"
        />
        Kolla om någon led är utmärkt på kartan. Leden mellan Nikkaluokta och
        Kebnekaise fjällstation bör minst vara utmärkt, kanske också västra
        leden(?)
      </li>
      <li>
        <input type="checkbox" />Mitt i stora dalen Ladtjovagge, samma stora dal
        där fjällstationen ligger, ligger också den stora sjön Ladtjojaure. Här
        längs med sjön går en båttur som förkortar vandringen mellan Nikkaluokta
        och fjällstationen med 6 km.
      </li>

      <li><h3>Planering och utrustning</h3></li>
      <li>
        <input type="checkbox" />

        Att ha med någon i gruppen som har tidigare erfarenhet är en god idé.
        Men absolut inget krav. Speciellt inte om ni tänkt en enklare vandring,
        som exempelvis Nikkaluokta till Kebnekaise. Titta också på alternativet
        att gå en guidad tur tillsammans med andra.
      </li>
      <li>
        <input type="checkbox" />Planera lagom. Det finns ingen anledning att
        planera för mycket i detalj. Om du nu inte tycker att det är väldigt
        roligt såklart. Men att planera in en extra dag kan vara smart.
        Exempelvis om vädret blir dåligt.
      </li>
      <li>
        <input type="checkbox" />Packa inte med för mycket. Tänk noga igenom
        vilka kläder du behöver och vilken utrustning du verkligen behöver. Utgå
        från en bra och genomtänkt packlista. Välj en ryggsäck som inte är för
        stor. Vi tenderar nämligen att packa med oss mer saker desto större
        ryggsäcken är.
      </li>
      <li>
        <input type="checkbox" />Vattenpacka ombyten, handduk och sovsäcken som
        du har i ryggsäcken. Det finns särskilda påsar för detta som är
        vattentäta. Ett billigare alternativ är alltid en sopsäck på insidan av
        ryggsäcken.
      </li>
      <li>
        <input type="checkbox" />Se också till att skydda din telefon och andra
        små känsliga saker från fukt. Det kan vara dåligt väder och regn
        utifrån, men också svett inifrån när det går tungt en varm dag.
      </li>
      <li>
        <input type="checkbox" />Prova ut ett par kängor noga. Se också till att
        träna en hel del med dessa innan resan.
      </li>
      <li>
        <input type="checkbox" />Mat är viktigt för att hålla energinivån och
        humöret uppe. Kombinera mellan mer ”avancerade” rätter som tar längre
        tid att tillaga, och snabbare val. De dagar du är trött kan det vara
        skönt att lägga minimalt med tid på tillagningen.
      </li>
      <li>
        <input type="checkbox" />Ha alltid snabb energi tillgänglig. Det kan
        vara en energibar eller klassikern ”jägarsnus” Jägarsnus är som en
        egengjord gott och blandat påse. Små chokladbitar, nötter och russin i
        en påse. Eller såklart något annat om du hellre vill ha det. Tanken är
        oavsett att snabbt kunna få i sig kolhydrater, socker, fett och salter.
      </li>
      <li>
        <input type="checkbox" />Bär alltid vatten som du lätt når utan att du
        ska behöva ta av dig ryggsäcken. En vätskeblåsa i packningen med en
        slang fram är ett bra alternativ. Ett annat är en helt vanlig
        dricksflaska på 0,5 liter, gärna med stor öppning. Oftast har
        ryggsäckarna små fickor på sidorna med elastiska band där du kan sätta
        fast flaskan, utan att du behöver ta av ryggsäcken. Se till att dricka
        ordentligt, det kommer göra susen för humöret över tid!
      </li>
      <li>
        <input type="checkbox" />Enklare vandring ställer generellt inga krav på
        huruvida du kan hantera en karta med kompass. Men det är ingen dum idé
        att lära sig! Och det kan vara roligt att kunna följa med på kartan
        under tiden som man går. Det finns GPS och olika appar man kan ladda ner
        till telefonen. Även sådana kartor som går att ladda ner till telefonen,
        vilket gör att du kan se dessa även utan täckning i offline-läge.
      </li>
      <h3>Säkerhet framför allt</h3>
      <li>
        <input type="checkbox" />Att lämna ett färdmeddelande är en god idé.
        Tala om för någon var du är, var du tänkt gå och när du planerar att
        vara tillbaka. Detta kan vara värdefull information för en
        räddningsinsats om en olycka sker.
      </li>
      <li>
        <input type="checkbox" />Bär med en karta över området du tänkt gå i. Se
        till att lära dig hur du hanterar kartan med en kompass.
      </li>
      <li>
        <input type="checkbox" />Har du med dig en telefon? Räkna inte med att
        det finns täckning överallt.
      </li>
      <li>
        <input type="checkbox" />Kolla väderprognosen innan du går ut på
        fjället. Om möjligt håll dig uppdaterad varje morgon.
      </li>
      <li>
        <input type="checkbox" />Kontrollera så att alla i sällskapet har med
        sig torra ombyten och förstärkningskläder.
      </li>
      <li>
        <input type="checkbox" />En vattenflaska och snabb energi bör alltid
        finnas nära tillhands. Utan att ryggsäcken behöver tas av.
      </li>
      <li>
        <input type="checkbox" />Ett enkelt kit med förstahjälpen utrustning är
        bra att ha med sig. Minst ett enklare förband, plåster, skavsårsplåster,
        fot-tejp för skav och en sax.
      </li>
      <li><input type="checkbox" />Packa med solskydd och solglasögon.</li>
      <li>
        <input type="checkbox" />Mössa och handskar är en självklar del av
        packningen, även mitt i sommaren.
      </li>
      <li><input type="checkbox" />En pannlampa är en lysande idé.</li>
      <h3>På turen</h3>
      <li>
        <input type="checkbox" />Hjälp varandra med att hålla humöret uppe.
      </li>
      <li>
        <input type="checkbox" />Dricka ordentligt är lätt att glömma bort.
        Påminn varandra och bär vattenflaskan lättåtkomligt. Bär dock inte för
        mycket vatten i ryggsäcken om du går i dalen. Fyll på flaskan oftare
        istället, så sparar du en hel del energi.
      </li>
      <li>
        <input type="checkbox" />Om möjligt håll er uppdaterade om
        väderprognosen och vädret de kommande 24 timmarna. Vädret kan som på
        många andra ställen slå om fort. Ute i fjällen kan det dock få extra
        stora konsekvenser, det kan vara betydligt längre till att komma i skydd
        inomhus. Exempelvis är det från Kebnekaise sydtopp till fjällstationen
        flera timmar till fots.
      </li>
      <li>
        <input type="checkbox" />Under vinterhalvåret är det också viktigt att
        vara uppmärksam på lavinterräng och vara uppdaterad på vad senaste
        lavinprognosen säger.
      </li>
      <li>
        <input type="checkbox" />Utanför så kallade rösade leder, alltså utanför
        en väl uppmärkt och skyltad led, behövs definitivt en karta och kompass,
        samt kunskap om hur dessa används tillsammans.
      </li>
      <li>
        <input type="checkbox" />Utvärdera löpande hur det känns i kroppen. Håll
        också ett öga på andra i sällskapet. Är du själv trött är sannolikt fler
        också det. Det är kanske läge att vända tillbaka? Se det inte som ett
        nederlag. Utan istället som att du, och ni som grupp, är
        säkerhetsmedvetna individer som tar ansvar. Det är bättre att vända
        tillbaka än att bli fast på toppen orkeslösa i dåligt väder.
      </li>

      <div class="egenOutput" id="egenOutput">
        <h3>Egna punkter</h3>

        <li *ngFor="let punkt of egnaPunkter">
          <input type="checkbox" />{{ punkt }}
        </li>
      </div>
    </ul>
    <!--  <li><input type="checkbox" /></li>-->
  </body>
</html>
