<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col1">
        <h1>Boka din vistelse</h1>
        <p>Vad kul att du vill boka din vistelse hos oss!</p>
        <div class="boking">
          <label for="fornamn">Förnamn</label>
          <input
            type="text"
            placeholder="Förnamn"
            name="fornamn"
            id="fornamn"
          />
          <label for="efternamn">Efternamn</label>
          <input
            type="text"
            placeholder="Efternamn"
            name="efternamn"
            id="efternamn"
          /><br />
          <label for="antguest">Antal gäster</label>
          <input type="number" placeholder="antal gäster" id="antguest" /><br />
          <label for="startDatum">Startdatum</label>
          <input type="date" id="startDatum" /><br />
          <label for="slutDatum">Slutdatum</label>
          <input type="date" id="slutDatum" /><br />
          <button>Boka</button>
        </div>
      </div>
    </div>
  </body>
</html>
